<template id="footer">
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-links">
                <a href="privacy-policy.html">Privacy Policy</a>
                <a href="terms-condition.html">Terms & Conditions</a>
                <a href="mailto:support@ahfy.com">Contact Us</a>
            </div>
            <div class="footer-copyright">
                <p>&copy; 2025 Ahfy. All rights reserved.</p>
            </div>
        </div>
    </footer>
</template>